html, body{
	height: 100%;
}
.page{
	padding-top: 75px;
	padding-bottom: 40px;
	position: relative;
	box-sizing: border-box;
}
.classic-btn{
	border: 1px solid white;
	width: 170px;
	height: 50px;
	display: block;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	font-family: $lato;
	margin: 0 auto;
}